<?xml version="1.0"?>
<robot xmlns:xacro="https:/www.ros.org/wiki/xacro">
 <!-- Lidar Base -->
  <link name="lidar_robot_lidar_base_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>

  <!-- Lidar Top -->
  <link name="lidar_robot_lidar_top_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>

  <joint name="base_lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_robot_lidar_base_link" />
    <origin xyz="0 0 0.4" rpy="0 0 0" />  
  </joint>

  <joint name="lidar_robot_lidar_joint" type="fixed">
    <parent link="lidar_robot_lidar_base_link"/>
    <child link="lidar_robot_lidar_top_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>
    
</robot>